<div *ngIf = "loggedInCust">

  <h4 *ngIf="loggedInCust.appliedLoans.length == 0">
    You haven't applied any loans yet...
  </h4>

  <mat-card *ngFor="let application of loggedInCust.appliedLoans" class="example-card">
    <mat-card-header>
      <!--    <div class="row">-->
      <!--      <div class="col-10">-->
      <mat-card-title>{{application.bankName}}</mat-card-title>
      <mat-card-subtitle>Applied Date: {{application.dateOfApplication}}</mat-card-subtitle>
      <!--      </div>-->
      <!--      <div class="col-2">-->
      <!--&lt;!&ndash;        <button mat-fab matTooltip="Remove From Favourite" aria-label="Example icon-button with a heart icon" class="favourite-icon" *ngIf="isCustomerFavouriteLoan(loan.id)" (click)="removeLoanFromCustomerFavList(loan)">&ndash;&gt;-->
      <!--&lt;!&ndash;          <mat-icon>favorite</mat-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;        </button>&ndash;&gt;-->

      <!--&lt;!&ndash;        <button mat-fab matTooltip="Add To Favourite" aria-label="Example icon-button with a heart icon" class="unfavourite-icon" *ngIf="!isCustomerFavouriteLoan(loan.id)" (click)="addLoanToCustomerFavList(loan)">&ndash;&gt;-->
      <!--&lt;!&ndash;          <mat-icon>favorite</mat-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;        </button>&ndash;&gt;-->
      <!--        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">-->
      <!--          <mat-icon>favorite</mat-icon>-->
      <!--        </button>-->
      <!--      </div>-->
      <!--    </div>-->

    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-4 card-img">
          <img mat-card-image src="../../../../../assets/images/banks/{{application.bankImageUrl}}" alt="BankImg">
        </div>
        <div class="col-4 card-textbox">
          <p>Applied Amount:<br>
            Interest Rates:<br>
            Processing Fee:<br>
            Term Length:<br>
          </p>
        </div>
        <div class="col-4 card-textbox">
          <p>{{application.appliedLoanAmount}}
            <br>
            {{ application.rateOfInterest}}
            <br>
            {{ application.processingFee }}
            <br>
            {{ application.termLength }} Months
        </div>
      </div>

      <!--        <div *ngIf="application.status === 'Pending'">-->
      <!--          <h6>Application under reviewing... Please check back later.</h6>-->
      <!--        </div>-->

      <div [ngClass]="{'statusPending': application.status === 'Pending', 'statusApproved':application.status === 'Approved', 'statusRejected':application.status === 'Rejected'}" class="statusBar">
        <p *ngIf="application.status === 'Pending'">Application Under Review... Please check back later.</p>
        <p *ngIf="application.status != 'Pending'">Application {{application.status}}</p>
      </div>


    </mat-card-content>

  </mat-card>



</div>
