.statusPending{
  color: #1a3b4f;
  background-color: #e8f9ff;
}

.statusApproved{
  background-color: #41b06f;
  color:#f7f9fa;
}

.statusRejected{
  background-color: #a8473d;
  color:#f7f9fa;
}

mat-card {
  margin: 2% auto;
  padding-bottom: 1%;
  width: 60%;
  min-width:450px;
  max-width: 666px;

  mat-card-header {
    height: 20%;
    padding: 0;


  }

  mat-card-content {
    height: 100%;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;

      .card-img {
        height: 100%;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
        }
      }
      .card-textbox {
        justify-content: center;
        align-items: center;

        p {
          font-family: 'Inconsolata', monospace;
          font-size: 15px;
        }

      }
    }

    .statusBar {
        text-align: center;

        p {
          font-family: 'Inconsolata', monospace;
          font-size: 15px;
        }
    }
  }
}
