
* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight:  300;
  margin:  0;
}
$primary: rgb(182,157,230);

mat-dialog-content {
  padding: 0;
}
form {
  padding:  40px 30px;
  background:  #fefefe;
  display:  flex;
  flex-direction:  column;
  align-items:  flex-start;
  padding-bottom:  20px;

  mat-form-field {
    width: 100%;
  }

  h4 {
    margin-bottom:  20px;
    color:  rgba(#000, .5);
    span {
      color:  rgba(#000, 1);
      font-weight:  700;
    }
  }
  p {
    line-height:  155%;
    margin-bottom:  5px;
    font-size:  14px;
    color:  #000;
    opacity:  .65;
    font-weight:  400;
    margin-bottom:  40px;
  }
}

a.discrete {
  color:  rgba(#000, .4);
  font-size:  14px;
  border-bottom:  solid 1px rgba(#000, .0);
  padding-bottom:  4px;
  margin-left:  auto;
  font-weight:  300;
  transition:  all .3s ease;
  margin-top:  40px;
  &:hover {
    border-bottom:  solid 1px rgba(#000, .2);
  }
}
button {
  -webkit-appearance:  none;
  width:  auto;
  min-width:  100px;
  border-radius:  24px;
  text-align:  center;
  padding:  15px 40px;
  margin-top:  5px;
  font-size:  14px;
  margin-left:  auto;
  font-weight:  500;
}

.session {
  display:  flex;
  flex-direction:  row;
  width:  auto;
  height:  auto;
  margin:  auto auto;
  border-radius:  4px;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
}
.left {
  width:  220px;
  height:  auto;
  min-height:  100%;
  position:  relative;
  background-image: url("../../../../assets/images/login/dark_blue.jpg");
  background-size:  cover;
  border-top-left-radius:  4px;
  border-bottom-left-radius:  4px;
}
