<div id="homepage">

    <div class="heading">
      <h1>Personal Loans up to $35,000</h1>
      <div class="body-left-align" style="max-width: 800px; margin: 0 auto;">
        <p>
          No origination fees &nbsp;&nbsp;|&nbsp;&nbsp; No pre-payment fees &nbsp;&nbsp;|&nbsp;&nbsp; No late fees</p>
      </div>

    </div>

    <div id="autopay-box">
      <div class="textbox">

        <div class="row">
          <div class="col-8 col-md-8" style="text-align: left" id="payRate">
            <p>Fixed rates with AutoPay:</p>
            <h2>5.99% APR - 19.96% APR</h2>
            <p>Checking your rate will not affect your credit store.</p>
          </div>

          <div class="col-4 col-md-4">
            <button mat-flat-button class="basic-button">Get My Loan Today</button>
          </div>
        </div>

      </div>


    </div>



</div>
