#homepage {
  /* Location of the image */
  background-image: url('../../assets/images/homepage/background-img.jpg');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  color: #f7f9fa;
  text-align: center;
  min-height: 70vh;


      .heading {
        padding: 12vh 0 5vh 0;

        h1 {
          font-size: 60px;
        }

        p {
          margin-top: 2%;
          font-size: 20px;
        }
      }

      #autopay-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh;

      .textbox {
        background-color: white;
        height: 200px;
        width: 700px;
        padding: 2% 0 4% 4%;
        color: #1a3b4f;

        .row {
          display: flex;
          justify-content: center;
          align-items: center;

          #payRate {
            border-right: solid #1a3b4f 1px;
            height: 80%;
          }
        }

      }
      }


}



