

<div class="tab-body">
  <mat-tab-group>

    <mat-tab label="All Applications">

      <section *ngFor="let details of all_cust_Details" class="container">

        <div *ngIf="details.appliedLoans.length != 0">

          <mat-card *ngFor="let application of details.appliedLoans" ><br>

            <mat-card-header>
              <img src="../../../../assets/images/banks/{{application.bankImageUrl}}" alt="banklogo" align="right">
            </mat-card-header>

            <mat-card-content>

              <div class="row">

                <div class="col-2 card-img" >
                  <img src="../../../../assets/images/profile_img/{{details.profilePicUrl}}" alt="profile image">
                </div>

                <div class="col-2 card-textbox" >
                  <p>
                    Applicant: <br>
                    Gender:<br>
                    Age:<br>
                    Salary:<br>
                    Credit Score:<br>

                  </p>
                </div>

                <div class="col-2 card-textbox" style="border-right: solid 1px #1a3b4f; margin-right: 1%;">
                  <p>{{ details.name}}
                    <br>
                    {{ details.gender}}
                    <br>
                    {{ details.age}}
                    <br>
                    ${{ details.monthlySalary}}/Mon
                    <br>
                    {{ details.creditScore }}
                  </p>
                </div>

                <div class="col-3 card-textbox">
                  <p>Applied Amount:<br>
                    Interest Rates:<br>
                    Processing Fee:<br>
                    Term Length:<br>
                    Applied Date:
                  </p>
                </div>

                <div class="col-2 card-textbox">
                  <p>{{application.appliedLoanAmount}}
                    <br>
                    {{ application.rateOfInterest}}
                    <br>
                    {{ application.processingFee }}
                    <br>
                    {{ application.termLength }} Mon.
                    <br> {{application.dateOfApplication}}
                </div>


              </div>


              <div [ngClass]="{'statusPending': application.status === 'Pending', 'statusApproved':application.status === 'Approved', 'statusRejected':application.status === 'Rejected'}" class="statusBar">
                <p *ngIf="application.status === 'Pending'">Waiting for Manager Verification...</p>
                <p *ngIf="application.status != 'Pending'">Application {{application.status}}</p>
              </div>

              <div *ngIf="application.status === 'Pending'" class="reviewBox">
                <button mat-raised-button class="approveButton" (click)="approveLoanApplication(details.id, application.id)">Approve</button>
                <button mat-raised-button color="warn" (click)="rejectLoanApplication(details.id, application.id)">Reject</button>
              </div>

            </mat-card-content>

          </mat-card>

        </div>


      </section>

    </mat-tab>





    <mat-tab label="Pending Applications">

      <section *ngFor="let details of all_cust_Details" class="container">

        <div *ngIf="details.appliedLoans.length != 0">



          <div *ngFor="let application of details.appliedLoans">

            <mat-card *ngIf="application.status === 'Pending'" class="example-card">



            <mat-card-header>
              <img src="../../../../assets/images/banks/{{application.bankImageUrl}}" alt="banklogo" align="right">
            </mat-card-header>

            <mat-card-content>

                <div class="row">

                  <div class="col-2 card-img" >
                    <img src="../../../../assets/images/profile_img/{{details.profilePicUrl}}" alt="profile image">
                  </div>

                  <div class="col-2 card-textbox" >
                    <p>
                      Applicant: <br>
                      Gender:<br>
                      Age:<br>
                      Salary:<br>
                      Credit Score:<br>

                    </p>
                  </div>

                  <div class="col-2 card-textbox" style="border-right: solid 1px #1a3b4f; margin-right: 1%;">
                    <p>{{ details.name}}
                      <br>
                      {{ details.gender}}
                      <br>
                      {{ details.age}}
                      <br>
                      ${{ details.monthlySalary}}/Mon
                      <br>
                      {{ details.creditScore }}
                    </p>
                  </div>

                  <div class="col-3 card-textbox">
                    <p>Applied Amount:<br>
                      Interest Rates:<br>
                      Processing Fee:<br>
                      Term Length:<br>
                      Applied Date:
                    </p>
                  </div>

                  <div class="col-2 card-textbox">
                    <p>{{application.appliedLoanAmount}}
                      <br>
                      {{ application.rateOfInterest}}
                      <br>
                      {{ application.processingFee }}
                      <br>
                      {{ application.termLength }} Mon.
                      <br> {{application.dateOfApplication}}
                  </div>


                </div>


                <div [ngClass]="{'statusPending': application.status === 'Pending', 'statusApproved':application.status === 'Approved', 'statusRejected':application.status === 'Rejected'}" class="statusBar">
                  <p *ngIf="application.status === 'Pending'">Waiting for Manager Verification...</p>
                  <p *ngIf="application.status != 'Pending'">Application {{application.status}}</p>
                </div>

                <div *ngIf="application.status === 'Pending'" class="reviewBox">
                  <button mat-raised-button class="approveButton" (click)="approveLoanApplication(details.id, application.id)">Approve</button>
                  <button mat-raised-button color="warn" (click)="rejectLoanApplication(details.id, application.id)">Reject</button>
                </div>

              </mat-card-content>

          </mat-card>

          </div>

        </div>


      </section>

    </mat-tab>






    <mat-tab label="Approved Applications">
      <section *ngFor="let details of all_cust_Details" class="container">

        <div *ngIf="details.appliedLoans.length != 0">



          <div *ngFor="let application of details.appliedLoans">

            <mat-card *ngIf="application.status === 'Approved'" class="example-card">



              <mat-card-header>
                <img src="../../../../assets/images/banks/{{application.bankImageUrl}}" alt="banklogo" align="right">
              </mat-card-header>

              <mat-card-content>

                <div class="row">

                  <div class="col-2 card-img" >
                    <img src="../../../../assets/images/profile_img/{{details.profilePicUrl}}" alt="profile image">
                  </div>

                  <div class="col-2 card-textbox" >
                    <p>
                      Applicant: <br>
                      Gender:<br>
                      Age:<br>
                      Salary:<br>
                      Credit Score:<br>

                    </p>
                  </div>

                  <div class="col-2 card-textbox" style="border-right: solid 1px #1a3b4f; margin-right: 1%;">
                    <p>{{ details.name}}
                      <br>
                      {{ details.gender}}
                      <br>
                      {{ details.age}}
                      <br>
                      ${{ details.monthlySalary}}/Mon
                      <br>
                      {{ details.creditScore }}
                    </p>
                  </div>

                  <div class="col-3 card-textbox">
                    <p>Applied Amount:<br>
                      Interest Rates:<br>
                      Processing Fee:<br>
                      Term Length:<br>
                      Applied Date:
                    </p>
                  </div>

                  <div class="col-2 card-textbox">
                    <p>{{application.appliedLoanAmount}}
                      <br>
                      {{ application.rateOfInterest}}
                      <br>
                      {{ application.processingFee }}
                      <br>
                      {{ application.termLength }} Mon.
                      <br> {{application.dateOfApplication}}
                  </div>


                </div>


                <div class="statusBar statusApproved">
                  <p>Application {{application.status}}</p>
                </div>


              </mat-card-content>

            </mat-card>

          </div>

        </div>


      </section>

    </mat-tab>





    <mat-tab label="Rejected Applications">
      <section *ngFor="let details of all_cust_Details" class="container">

        <div *ngIf="details.appliedLoans.length != 0">



          <div *ngFor="let application of details.appliedLoans">

            <mat-card *ngIf="application.status === 'Rejected'" class="example-card">



              <mat-card-header>
                <img src="../../../../assets/images/banks/{{application.bankImageUrl}}" alt="banklogo" align="right">
              </mat-card-header>

              <mat-card-content>

                <div class="row">

                  <div class="col-2 card-img" >
                    <img src="../../../../assets/images/profile_img/{{details.profilePicUrl}}" alt="profile image">
                  </div>

                  <div class="col-2 card-textbox" >
                    <p>
                      Applicant: <br>
                      Gender:<br>
                      Age:<br>
                      Salary:<br>
                      Credit Score:<br>

                    </p>
                  </div>

                  <div class="col-2 card-textbox" style="border-right: solid 1px #1a3b4f; margin-right: 1%;">
                    <p>{{ details.name}}
                      <br>
                      {{ details.gender}}
                      <br>
                      {{ details.age}}
                      <br>
                      ${{ details.monthlySalary}}/Mon
                      <br>
                      {{ details.creditScore }}
                    </p>
                  </div>

                  <div class="col-3 card-textbox">
                    <p>Applied Amount:<br>
                      Interest Rates:<br>
                      Processing Fee:<br>
                      Term Length:<br>
                      Applied Date:
                    </p>
                  </div>

                  <div class="col-2 card-textbox">
                    <p>{{application.appliedLoanAmount}}
                      <br>
                      {{ application.rateOfInterest}}
                      <br>
                      {{ application.processingFee }}
                      <br>
                      {{ application.termLength }} Mon.
                      <br> {{application.dateOfApplication}}
                  </div>


                </div>


                <div class="statusBar statusRejected">
                  <p>Application {{application.status}}</p>
                </div>


              </mat-card-content>

            </mat-card>

          </div>

        </div>


      </section>
    </mat-tab>



  </mat-tab-group>
</div>
