.tab-body {
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
}

::ng-deep .mat-tab-label {
  color: white;
}

section div{
  //margin: 0;
  //padding:0;

  mat-card {
    margin: 2% auto;
    padding:0 0 1% 0;
    width: 60%;
    min-width:800px;

    mat-card-header {
      //height: 10%;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      img {
        max-height: 40px;
        max-width: 100px;
      }
    }

    mat-card-content {

      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;

        div {
          margin:0;
          padding:0;
        }

        .card-img {
          height: 100%;

          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            max-height: 140px;
            max-width: 140px;
          }
        }

        .card-textbox {
          justify-content: center;
          align-items: center;

          p {
            font-family: 'Inconsolata', monospace;
            font-size: 15px;
          }

        }

      }

      .statusPending{
        color: #1a3b4f;
        background-color: #e8f9ff;
      }

      .statusApproved{
        background-color: #41b06f;
        color:#f7f9fa;
      }

      .statusRejected{
        background-color: #a8473d;
        color:#f7f9fa;
      }

      .statusBar {
        text-align: center;
        margin: 2% 0;
        padding: 0;
        height: 30%;

        p {
          font-family: 'Inconsolata', monospace;
          font-size: 15px;
          margin: 0;
          padding: 10px;
        }
      }

      .reviewBox {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 2%;

        button{
          width: 200px;
        }

        .approveButton {
          background-color: #41b06f;

        }
      }

    }
  }



}
