
<div class="session">
  <div class="left">
  </div>


  <form action="" class="login-form" [formGroup]="loginForm" (ngSubmit)="doCustomerLogin(loginForm)">
    <h4>Welcome!</h4>
    <p>Log in to your account to get your 1-click personal loans:</p>

    <mat-form-field>
      <input matInput type="email"  placeholder="Enter E-mail" formControlName="email" >
      <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">E-mail is Required</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">Invalid E-mail</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input type="password" matInput placeholder="Enter Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">Password is Required</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">Password must be min 5 characters</mat-error>
    </mat-form-field>
    <br>

    <button mat-flat-button class="basic-button cursor-pointer" [disabled]="loginForm.invalid">{{loginButtonText}}</button>
  </form>
</div>

