
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
    PLMS
  </a>
  <!--<button (click)='changeLang(lang)'>{{language}}</button>-->

  <div *ngIf="!loggedIn">
    <button mat-button (click)="openLogin()">Login</button>

    <button mat-button (click)="openSignup()">Signup</button>
  </div>



  <div *ngIf="loggedIn">
    Welcome, {{loggedIn_name}}!&nbsp;&nbsp;
    {{now | date:'MMM dd, h:mm:ss a'}} &nbsp;
    <button mat-button class="basic-button-stroke" (click)="signout()">Sign Out</button>


<!--    <button mat-button (click)="signout()">Sign Out</button>-->
  </div>

</nav>
