nav {
//   background-color: rgba(255, 255, 255, 0.1);
  height: 80px;

  a {
    color: #f7f9fa;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
  }


  div {
  position: absolute;
  right: 0px;
  padding: 10px;

  button {
    background-color: #1a3b4f;
    color: #f7f9fa;
  }

  .basic-button-stroke {
    border: solid 1px #f7f9fa;
  }

  }

}

