
mat-card {
  margin: 2% auto;
  padding-bottom: 1%;
  width: 60%;
  max-width: 666px;

  mat-card-header {
    height: 20%;
    padding: 0;


  }

  mat-card-content {
    height: 100%;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;

      .card-img {
        height: 100%;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
        }
      }
      .card-textbox {
        justify-content: center;
        align-items: center;

        p {
        //   color: #f7f9fa;
        //   font-family: 'Roboto', sans-serif;
          font-family: 'Inconsolata', monospace;
          font-size: 15px;
        //   font-weight: 200;
        }

      }
    }
  }
}
