
<mat-card *ngFor="let loan of loansList" class="example-card">
  <mat-card-header>
<!--    <div class="row">-->
<!--      <div class="col-10">-->
        <mat-card-title>{{loan.bankName}}</mat-card-title>
        <mat-card-subtitle>Rating: {{loan.rating}}</mat-card-subtitle>
<!--      </div>-->
<!--      <div class="col-2">-->
<!--&lt;!&ndash;        <button mat-fab matTooltip="Remove From Favourite" aria-label="Example icon-button with a heart icon" class="favourite-icon" *ngIf="isCustomerFavouriteLoan(loan.id)" (click)="removeLoanFromCustomerFavList(loan)">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>favorite</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->

<!--&lt;!&ndash;        <button mat-fab matTooltip="Add To Favourite" aria-label="Example icon-button with a heart icon" class="unfavourite-icon" *ngIf="!isCustomerFavouriteLoan(loan.id)" (click)="addLoanToCustomerFavList(loan)">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>favorite</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">-->
<!--          <mat-icon>favorite</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-4 card-img">
        <img mat-card-image src="../../../../../assets/images/banks/{{loan.bankImageUrl}}" alt="Photo of a Shiba Inu">
      </div>
      <div class="col-4 card-textbox">
        <p>Loan Amount:<br>
        Interest Rates:<br>
        Min Credit Score:<br>
        Term Length:<br>
        Processing Fee:</p>
      </div>
      <div class="col-4 card-textbox">
        <p>{{ loan.minLoanAmount | currency : 'USD' : 'symbol' : '1.0-0'  }} - {{loan.maxLoanAmount | currency : 'USD' : 'symbol' : '1.0-0' }}
        <br>
        {{ loan.minInterestRate }} %  - {{ loan.maxInterestRate }} %
        <br>
        {{ loan.minCreditScore }}
        <br>
        {{ loan.termLength }} Months
        <br>{{ loan.processingFee | currency : 'USD' : 'symbol' : '1.0-0' }} </p>
      </div>
    </div>

    <div class="row">
      <!--<button mat-flat-button class="basic-button" (click)= "openApplyDialog(loan)">Apply Now</button>-->
      <button mat-flat-button class="basic-button" (click)= "checkApplyCondition(loan)">Apply Now</button>
    </div>

  </mat-card-content>

</mat-card>
