<div>
  <mat-tab-group>

    <mat-tab label="All Loans">
      <app-loans-list [loggedInCust] = "loggedInCust"></app-loans-list>
    </mat-tab>

    <mat-tab label="Applied Loans">
      <app-applied-loans [loggedInCust] = "loggedInCust"></app-applied-loans>
    </mat-tab>
    <!--  <mat-tab label="Third"> Content 3 </mat-tab>-->
  </mat-tab-group>
</div>






