/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

html, body {
height: 100%;
min-width: 800px;
background-color: #1a3b4f;
color: #f7f9fa;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.basic-button {
  background-color: #1a3b4f;
  color: #f7f9fa;
}

// .light-strock-button {
//   background-color: #1a3b4f;
//   color: #f7f9fa;
// }
// p {
// //   color: #f7f9fa;
// //   font-family: 'Roboto', sans-serif;
//   font-family: 'Inconsolata', monospace;
//   font-size: 15px;
// //   font-weight: 200;
// }
