
<h4>Hi, {{data.userProfile.name}}! </h4>
Welcome to NLB Finance 3-step loan application system~!
<br><br>


<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>First, let's make sure your profile is up to date!</ng-template>

    <div class="form-group">
      <label for="company">Current Employer</label>
      <input type="text" class="form-control" id="company"
             required
             [(ngModel)]="data.userProfile.company" name="company">
    </div>

    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text"  class="form-control" id="designation"
             [(ngModel)]="data.userProfile.designation" name="designation">
    </div>


    <div class="form-group">
      <label for="monthlySalary">Monthly Salary</label>
      <input type="text"  class="form-control" id="monthlySalary"
             [(ngModel)]="data.userProfile.monthlySalary" name="monthlySalary">
    </div>


    <div>
      <button mat-button class="basic-button" matStepperNext (click)="updateUserProfile(data)">Next</button>
    </div>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Get your rate</ng-template>


    <div class="row">
      <div class="col-10"><h5>The loan you are applying:</h5></div>
      <div class="col-2"><img style="max-height: 40px; max-width:80px;" src="../../../../../assets/images/banks/{{this.data.loan.bankImageUrl}}" alt="Bank logo"></div>
    </div>

    <ul>
      <li>
        Loan Provider: {{data.loan.bankName}}
      </li>
      <li>
        Term Length: {{data.loan.termLength}} Month
      </li>
      <li>
        Required minimum credit score: {{data.loan.minCreditScore}} <span class="material-icons" style="color: green;">check_circle</span>
      </li>
      <li>
        Available Loan Amount Range: ${{data.loan.minLoanAmount}} - ${{data.loan.maxLoanAmount}}
      </li>
    </ul>

    <div class="form-group">
      <label for="company">Please enter the loan amount you are applying:</label>
      <input type="number" class="form-control" id="loanAmount"
             required
             [(ngModel)]="data.appliedAmount" name="loanAmount">
      <div class="errorMSG" *ngIf="data.appliedAmount < data.loan.minLoanAmount">
        Applying amount cannot be less than ${{data.loan.minLoanAmount}}.
      </div>
      <div class="errorMSG" *ngIf="data.appliedAmount > data.loan.maxLoanAmount">
        Applying amount cannot be greater than ${{data.loan.maxLoanAmount}}.
      </div>
      <br>
      Interest rate based on your profile and applied amount:
      <br>

      <ng-template let-rate [ngTemplateOutletContext]="{ $implicit: ((((data.loan.maxInterestRate -
          (data.userProfile.creditScore - data.loan.minCreditScore)*(data.loan.maxInterestRate - data.loan.minInterestRate)
          /(850 - data.loan.minCreditScore))
          +
          (data.loan.minInterestRate + (data.appliedAmount - data.loan.minLoanAmount)*(data.loan.maxInterestRate - data.loan.minInterestRate)
          /(data.loan.maxLoanAmount - data.loan.minLoanAmount)
          )))/2| number: '1.2-2') }" [ngTemplateOutlet]="t" #t>
        <div style="background-color: cadetblue; min-height: 10px; ">
          <span *ngIf="data.appliedAmount >= data.loan.minLoanAmount && data.appliedAmount <= data.loan.maxLoanAmount" style="text-align: center; color: whitesmoke"><h3>{{rate}}%</h3></span>
        </div>

        <br>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button *ngIf="data.appliedAmount >= data.loan.minLoanAmount && data.appliedAmount <= data.loan.maxLoanAmount" mat-button class="basic-button" matStepperNext (click)="lastStep(rate)">Confirm Loan Amount and Rate</button>
        </div>

      </ng-template>

    </div>

  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Please review your application carefully before submit:</p>
    <h5>Applicant Information:</h5>
    <ul>
      <li>Name: {{data.userProfile.name}}</li>
      <li>Current Job: {{data.userProfile.designation}}, {{data.userProfile.company}}</li>
      <li>Monthly Salary: ${{data.userProfile.monthlySalary}}</li>
      <li>Credit Score: {{data.userProfile.creditScore}}</li>
    </ul>


    <div class="row">
      <div class="col-10"><h5>The loan you are applying:</h5></div>
      <div class="col-2"><img style="max-height: 40px; max-width:80px;" src="../../../../../assets/images/banks/{{this.data.loan.bankImageUrl}}" alt="Bank logo"></div>
    </div>
    <ul>
      <li>Loan Provider: {{data.loan.bankName}}</li>
      <li>Term Length: {{data.loan.termLength}} Month</li>
      <li>Applying Loan Amount: ${{data.appliedAmount}}</li>
      <li>Applying Loan Rate: {{appliedRate}}%</li>
    </ul>
    <p *ngIf="!appliedRate" style="color: red;">Please confirm your loan amount and rate in previous step first!</p>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button *ngIf="appliedRate" mat-button class="basic-button" (click)="submitApplication(data)">Submit</button>
      <!--<button *ngIf="appliedRate" mat-button class="basic-button" (click)="submitApplication(data.loan, data.appliedAmount)">Submit</button>-->
    </div>
  </mat-step>
</mat-vertical-stepper>



