<!-- Footer -->
<footer class="font-small container" >

  <!-- Footer Links -->

    <!-- Footer links row -->
    <div class="row text-center text-md-left " >

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">NLB Finance</h6>
        <p>NLB Finance Inc. provides 1-stop professional support for your personal loan services, which is
          fake and just for training demo purpose.</p>
      </div>
      <!-- Grid column -->

<!--      <hr class="w-100 clearfix d-md-none">-->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mt-3 pb-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="#!">Student Loan Refi</a><br>

          <a href="#!">Mortgage Refi</a><br>

          <a href="#!">Personal Loans</a>
        </p>

      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mt-3 pb-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Terms of Use</a><br>

          <a href="#!">Privacy Policy</a><br>

          <a href="#!">Contact Us</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mt-3 pb-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i>Atlanta, GA, 30097, US<br>
          <i class="fas fa-envelope mr-3"></i> info@nlbfinance.com<br>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>

      </div>
      <!-- Grid column -->

    </div>


    <hr style="border-top: solid 1px #f7f9fa;">

    <!--Copyright-->

    <p style="text-align: center; padding-bottom: 2%;">© 2020 Copyright:
      <a href="#">
        <strong> NLBFinance Inc.</strong>
      </a>
    </p>



  <!-- Footer Links -->

</footer>
<!-- Footer -->
